src/main/mule/restapi_abhijit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="1c274e54-7d7e-4634-a87f-ddcd270fe0a1" basePath="mule" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="restapi_abhijitFlow" doc:id="9166a0e3-60fe-4f6e-b1c2-175943285c9f" >
		<http:listener doc:name="Listener" doc:id="9ac00976-2a70-40bd-90ec-e93450d81f7e" config-ref="HTTP_Listener_config" path="restapi"/>
		<set-payload value="#['Hi Colin.Welcome to Mulesoft Presentation.']" doc:name="Set Payload" doc:id="420d1138-8e99-4987-93cb-7c03686d0f46" />
	</flow>
</mule>
